{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create" class="button">NEW STUDENT</a>
        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Work</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.image_Url}})"></span>
                            {{student.name}}
                        </td>
                        <td>
                            {% for work in student.work %}
                                {{ work }}
                            {% endfor %}
                        </td>

                        <td>
                            <a href="/students/{{ student.id }}" class="button">Info</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}