{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block title %}
    <title>Create your profile</title>
{% endblock title %}

{% block content %}
    <form class="card" method="post" action="/students">
        <section class="info">
            <div class="tittle">
                <h1>Get started</h1>
                <span>Already have an account?
                    <a href="#">Sign in</a>
                </span>
            </div>

            {% include 'students/info-layout.njk' %}
        </section>
        <section class="image"></section>
    </form>
{% endblock content %}