{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create" class="button">NEW STUDENT</a>
        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Education level</th>
                    <th>More</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>
                             {% if student.education_level == 1 %} Fifth grade {% endif %}
                             {% if student.education_level == 2 %} Third grade {% endif %}
                             {% if student.education_level == 3 %} Nith grade {% endif %}
                             {% if student.education_level == 4 %} Sophomore {% endif %}
                        </td>

                        <td>
                            <a href="/students/{{ student.id }}" class="button">Info</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}