.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    width: 85%;
    min-width: 400px;
    margin: 3em auto;
    box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.2);

    opacity: 0;
    animation: 400ms ease 0.5s forwards up;
}

@keyframes up {
    from {
        transform: translateX(30px);
    } to {
        opacity: 1;
    }
}

.info {
    background: #ffffff;
    padding: 5em 7em;
}

.info h3 {
    margin-bottom: 3em;
}

.info h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.info .item {
    padding: 0.6em 0;
}

.info .item {
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.1);
}

.tittle span a {
    color: var(--font-color);
}

.tittle span,
.info .item div:nth-child(1) {
    font-size: 1.4rem;
    color: var(--desc-color);
}

.info .item div + div{
    font-size: 1.8rem;
}

input {
    width: 100%;
    border: 0;
    border-radius: 0.5em;
    font-size: 1.8rem;
    background-color: none;
    outline: none;    
}

input:-webkit-autofill {
    background-color: none !important;
}

.item label {
    font-size: 1.4rem;
    padding-right: 1em;
}

.item label:last-child {
    margin-right: 0;
}


input[type="radio"] {
    width: initial;
    background-color: black;
}

input[type="radio"]:checked {
    background: var(--background-color);
}

button[type="submit"],
a.button {
    background: var(--secondary-color);
    margin-top: 2em;
    padding: 1em 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffffff;
    border: 0;
}

button[type="submit"]:nth-child(1) {
    margin-top: 1em;
    background: var(--font-color);
}

a.button {
    display: block;
    text-align: center;
}

.image {
    min-height: 200px;
    object-fit: cover;
    /* background-size: cover; */
    background: url('https://images.unsplash.com/photo-1525571453712-090270b8354f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center center / cover;
} 

table {
    width: 100%;
    text-align: center;
}

.table-container {
    background: #ffffff;   
    display: block;
    width: 70%;
    padding: 4em;
}

.table-container td a {
    margin-top: 0;
    padding: 0.8em;
    font-size: 1.4rem;
    box-shadow: 0 1.5em 2.2em 0 rgba(0, 0, 0, 0.3);
}
.table-container tr th:first-child  {
    padding-left: 3em;
}

.table-container tr td:first-child {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    align-items: center;
}

.table-container tr td span {
    background-position: center;
    background-size: cover;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;

    border: 3px solid var(--ternary-color);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}


td {
    padding: 1em 0;
    border-bottom: 1px solid #e9e9e9;
}

.table-container > a {
    display: inline-block;
    width: 20%;
    font-size: 1.2rem;
    margin-bottom: 2em;
}

@media (max-width: 1100px) {
    .info {
        padding: 5em 2em;
    }
}

@media (max-width: 900px) {
    .table-container {
        padding: 2em;
    }
    .info {
        padding: 2em 2em 5em;
        grid-row: 2;
    }
    .table-container > a {
        width: 30%;
    }
}

@media (max-width: 700px) {
    .card {
        width: 90%;
        min-width: 400px;
        margin: 3em auto;
    }
    .table-container {
        padding: 1.5em;
    }
}