/* box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
animation: 400ms ease 1s forwards up;

@keyframes up {
    0% {
        transform: translateY(15px);
    } 100% {        
        opacity: 1;
    }
}
*/

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr)   ;
    width: 85%;
    min-width: 600px;
    margin: 3em auto;
}

.info {
    background: #ffffff;
    padding: 5em 7em;
}

.info h3 {
    margin-bottom: 3em;
}

.info h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.info .item {
    padding: 0.6em 0;
}

.info .item {
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.1);
}

.tittle span a {
    color: var(--font-color);
}

.tittle span,
.info .item div:nth-child(1) {
    font-size: 1.4rem;
    color: var(--desc-color);
}

.info .item div + div{
    font-size: 1.8rem;
}

input {
    width: 100%;
    border: 0;
    border-radius: 0.5em;
    font-size: 1.8rem;
}


/* .item label {
    padding: 0.5em 1em;
    font-size: 1.2rem;
} */

.item label:first-child {
    margin-right: 0.5em;
}


input[type="radio"] {
    width: initial;
    display: inline;
    margin-right: 0.5em;
}

button[type="submit"] {
    margin-top: 2em;
    padding: 1em 0;
    width: 100%;
    font-weight: 700;
    font-size: 1.8rem;
    background: var(--font-color);
    color: #ffffff;
    border: 0;
}

.image {
    background: url('https://source.unsplash.com/collection/517198/900x900') no-repeat center center / cover;
} 