@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet';

/* :root {
    --primary-color: #be5c2b;
    --secondary-color: #CB8460;
    --ternary-color: #eff6e3;
    --background-color: #F0E9DD;
    --font-color: #2D2C2C;
    --desc-color: #A1A1A1;
} */

:root {    
    --primary-color: #35342f;
    --text-color: #1F2F49;
    --button-color: #F4EFE9;
    --button-text-color: #313CFE;
    --desc-color: #777777;
    --yellow-button: #F1A711;
    --delete-button: #F94F4B;
    --pag-bg-color: #BBF7DE;
    --pag-text-color: #26A26F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

a {
    text-decoration: none;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;  
    font-family: Montserrat;
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
    background: var(--text-color);   
    color: var(--primary-color)
}

header {
    text-align: center;
    padding: 1.2em;        
}

header a {
    font-size: 1.2em; 
    font-weight: 500;
    position: relative;
    color: var(--button-color);
}

header a + a {
    margin-left: 4em;
}


header a::after {
    content: '';
    height: 2px;
    width: 0%;
    background: var(--button-color);
    position: absolute;
    bottom:  -5px;
    left: 0;
}
header a:hover::after {
    width: 100%;
    transition: width 200ms ease;
}

.links .active {
    font-weight: bold;    
}

footer {
    color: var(--font-color);
    margin-top: auto;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}