@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet';

:root {
    --icons-color: #b5d7f2;
    --background-color: #29509D;
    --button-color: #ffc190;
    --button-play-color: #ea6a58;
    --font-color: #1f2f49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

a {
    text-decoration: none;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;  
    font-family: Roboto;
    height: 100vh;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    background: var(--background-color);    
}

header {
    text-align: center;
    color: #eeeeee;
}

footer {
    margin-top: auto;
    height: 3em;
    background: var(--button-play-color);
}