{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <a href="/teachers/create" class="button">NEW TEACHER</a>
            <form action="/teachers" method="get">
                <input type="text" name="filter" placeholder="Search teacher or subject">
                <button type="submit">Filter</button>
            </form>
        </div>
        <table >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Subjects taught</th>
                    <th>Students</th>
                    <th>More</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ teacher.avatar_url}})"></span>
                            {{teacher.name}}
                        </td>
                        <td>
                            {{ teacher.subjects_taught }}
                        </td>
                        <td>
                            {{ teacher.total_students}}
                        </td>
                        <td>
                            <a href="/teachers/{{ teacher.id }}" class="button">Info</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="pagination"
            data-page="{{pagination.page}}"
            data-total="{{pagination.total}}"
            data-flter="{{filter}}"
        ></div>
    </div>
{% endblock content %}