{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block title %}
    <title>Teacher info</title>
{% endblock title %}

{% block content %}
    <form class="card" method="post" action="/teachers">
        <section class="info">
            <div class="tittle">
                <h1>Teacher info</h1>
                <span>Already have an account?
                    <a href="#">Sign in</a>
                </span>
            </div>

            <div class="item">
                <div>Your name</div>
                <div>{{ teacher.name }}</div>
            </div>
            <div class="item">
                <div>Age</div>
                <div>{{ teacher.birth_date }}</div>
            </div>
            <div class="item">
                <div>Formation degree</div>
                <div>
                    {% if teacher.education == "1" %}
                        High school
                    {% elif teacher.education == "2" %}
                        College Degree
                    {% elif teacher.education == "3" %}
                        Master's Degree
                    {% else %}
                        PHD Degree
                    {% endif %}
                </div>
            </div>
            <div class="item">
                <div>Education</div>
                <div>
                    {{teacher.education_level}}
                    {# {% if teacher.distance  == "on" and teacher.presence == "on" %}
                        Tradicional classes, Distance Learning
                    {% elif teacher.presence == "on" %}
                        Tradicional classes
                    {% else %}
                        Distance Learning
                    {% endif %} #}
                </div>
            </div>
            <div class="item">
                <div>Subjects taught</div>
                <div>
                    {# {{teacher.subjects_taught}} #}
                {% for work in teacher.subjects_taught %}
                {{ work }}
                {% endfor %}
                </div>                
            </div>
            <div class="item">
                <div>Member Since</div>
                <div>{{ teacher.created_at }}</div>
            </div>
            <a href="/teachers/{{ teacher.id }}/edit" class="button">Edit</a>
        </section>

        <section class="image" style="background-image: url({{ teacher.avatar_url }}"></section>
    </form>
{% endblock content %}