<div class="item">
    <div>Your name</div>
    <div><input type="text" name="name">{{ teacher.name }}</div>
</div>
<div class="item">
    <div>Birth date</div>
    <div><input type="date" name="birth" value="{{ teacher.birth }}"></div>
</div>
<div class="item">
    <div>Formation degree</div>
    <div>
        <select name="education">
            <option value="high-school">High school</option>
            <option value="college-degree">College degree</option>
            <option value="masters-degree">Masters degree</option>
            <option value="phd-degree">PHD degree</option>
        </select>
    </div>
</div>
<div class="item">
    <div>Education</div>
    {% if teacher.distance == null %}
        <input type="radio" name="distance">
        <label for="distance">Distance learning</label>
        <input type="radio" name="presence">
        <label for="presence">Traditional classes</label>

    {% elif teacher.distance == 'on' %}
        <input type="radio" name="distance" checked>
        <label for="distance">Distance learning</label>
        <input type="radio" name="presence">
        <label for="presence">Traditional classes</label>

    {% else %}
        <input type="radio" name="distance">
        <label for="distance">Distance learning</label>
        <input type="radio" name="presence">
        <label for="presence" checked>Traditional classes</label>
    {% endif %}

</div>
<div class="item">
    <div>Field of work</div>
    <div><input type="text" name="work">{{ teacher.work }}</div>
</div>

<button type="submit">Save</button>