{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="styles/index.css">
{% endblock styles %}

{% block content %}
    <main class="card">
        <section class="info">
            <h3>Classroom manager</h3>
            <div class="tittle">
                <h1>Get started</h1>
                <span>Already have an account?
                    <a href="#">Sign in</a>
                </span>
            </div>
        </section>

        <section class="image"></section>
    </main>
{% endblock content %}