{% extends 'layout.njk' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block content %}
    <div class="card">
        
  <section class="info">
            <h3>Classroom manager</h3>
            <div class="tittle">
                <h1>Get started</h1>
                <span>Already have an account?
                    <a href="#">Sign in</a>
                </span>
            </div>
            
            <div class="item">
                <div>Instrutor</div>
                <div>Breno Silva</div>
            </div>  
            <div class="item">
                <div>Sexo</div>
                <div class='button'>Masculino</div>
            </div>
            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    <span>Musculação</span>
                    <span>Crossfit</span></div>
            </div>
            <div class="item">
                <div>Data de início</div>
                <div>25/11/1998</div>
            </div>
        </section>

        <section class="image"></section>

        
    </div>
{% endblock content %}